html {
	height: 100%;
}

body {
	background-image: url("images/rolling-hills.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

input {
	margin: 20px 0;
}

#successMessage {
	margin-top: 100px;
}

#errorMessage {
	margin-top: 100px;
}

.container {
	text-align: center;
	margin-top: 100px;
	width: 450px;
}

.white {
	color: white;
	font-weight: bold;
}

